
    <div class="well" >
 
      <h3>Products currently stored in the database:</h3>

        <h2>{{ error }}</h2>
      
      <table class="table table-bordered table-stripped">
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Feature not yet available</th>
        <th>Feature not yet available</th>
        <tr ng-repeat="product in products">          
          <td>
             {{product.name}}
          </td>
          <td>
             {{product.description}}
          </td>
          <td> 
             {{ product.price }} kr
          </td>
          <td>             
             <img class="shopPicture" src="{{ product.img }}">
          </td>
          <td><button ng-click="deleteProduct()" class="btn">Delete product</button></td>  
          <td><button ng-click="deleteProduct()" class="btn">Update product</button></td>              
        </tr>        
      </table>
    </div>
<a ng-href="#/admin" class="btn btn-default"> Back to the Admin Panel </a>