<a ng-href="#/admin/"><button class="btn">Go to the Admin Panel</button></a>
 <h1> Welcome to our milkshop </h1>

    <div class="well" >
      <h2>Products</h2>

      <h3>Browse and select products below</h3>

        <h2>{{ error }}</h2>

        <input type="search" placeholder="Search product name" ng-model="productName" />

        <ul class="sortBtn">
          <li ng-repeat="cat in categories" >
            <input type="checkbox" ng-click="categoryChange(cat.category)" />
            {{ cat.category }}
          </li>
        </ul>

      
      <table class="table table-bordered table-stripped">
        <tr ng-repeat="product in products | filter:productName | filter:categoryFilter">
          
          <td>
              <img class="shopPicture" src="{{ product.img }}">
              
          </td>
          
          <td> 
              {{ product.price }} kr
          </td>

          <td>
              <a ng-href="#/product/{{product.id}}"> {{product.name}} </a>
          </td>
          <td>
            <form ng-submit="addToCart(product)">
            <input type="number" ng-model="quantity" />
            <button type="submit"> Add to cart </button>
          </form>
          </td>
        
        </tr>
        
      </table>
    </div>


    <div ng-controller="cartController" class="well">
        <h3>Cart</h3>
        <table class="table table-bordered table-stripped">
        <tr class="colWidth">
          <th>Product</th>
          <th>Quantity</th>
          <th>Price Per Item</th>
          <th>Total Price</th>
        <tr>
        <tr ng-repeat="cartProduct in cartProducts">
          <td>{{cartProduct.product.name}}</td>
          <td>{{cartProduct.quantity}}</td>
          <td>{{cartProduct.product.price}}</td>
          <td>{{cartProduct.sum}}</td>
          <td><button ng-click="delProd(cartProduct)" class="btn"> slet </button></td>
        </tr>
        <tr>
            <td> <a ng-href="#/checkout/"> To checkout </a> </td>
        </tr>
      </table>
    </div>